<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penetration Testing Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color: black; color: green; font-family: monospace;">
    <h1>Penetration Testing Tools</h1>
    <div>
        <a href="{{ url_for('scan') }}" class="folder">Reconnaissance</a>
        <a href="{{ url_for('network_scanners') }}" class="folder">Network Scanners</a>
    </div>
</body>
</html>
