<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nmap Scan</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='nmap.css') }}">
    </head>
    
<body>
    <div class="container">
        <h2>Nmap Scan</h2>
        <form action="/nmap" method="POST" enctype="application/x-www-form-urlencoded">
            <label for="target">Target IP:</label>
            <input type="text" id="target" name="target" required><br><br>

            <!-- Dodajemo div za opcije da bismo ih lakše organizovali u 2 kolone -->
            <div class="options-row">
                <div class="option">
                    <label for="ping_scan">Ping Scan</label>
                    <input type="checkbox" id="ping_scan" name="ping_scan">
                </div>

                <div class="option">
                    <label for="port_scan">Port Scan</label>
                    <input type="checkbox" id="port_scan" name="port_scan">
                </div>
            </div>

            <div class="options-row">
                <div class="option">
                    <label for="os_scan">OS Scan</label>
                    <input type="checkbox" id="os_scan" name="os_scan">
                </div>

                <div class="option">
                    <label for="detect_service">Detect Service Version</label>
                    <input type="checkbox" id="detect_service" name="detect_service">
                </div>
            </div>

            <div class="options-row">
                <div class="option">
                    <label for="cve_detection">CVEs Detection</label>
                    <input type="checkbox" id="cve_detection" name="cve_detection">
                </div>

                <div class="option">
                    <label for="flood_detection">Flood Detection</label>
                    <input type="checkbox" id="flood_detection" name="flood_detection">
                </div>
            </div>

            <div class="options-row">
                <div class="option">
                    <label for="tcp_fin_scan">TCP FIN Scan</label>
                    <input type="checkbox" id="tcp_fin_scan" name="tcp_fin_scan">
                </div>
            </div>

            <button type="submit">Start Scan</button>
        </form>
    </div>
</body>
</html>
