<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Cracking Tools</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Choose Password Cracking Tool</h1>
    <div class="tools-container">
        <button onclick="window.location.href='hydra'">Hydra</button>
        <button onclick="window.location.href='medusa'">Medusa</button>
        <button onclick="window.location.href='johntheripper'">John the Ripper</button>
        <button onclick="window.location.href='hashcat'">Hashcat</button>
    </div>
</body>
</html>
